/Leccion5/com.mycompany.sga_SgaWebHibernateJPA/target/
/CicloDeVida/com.mycompany.sga_SgaWebHibernateJPA/target/
/PersistenciaEnCascada/com.mycompany.sga_SgaWebHibernateJPA/target/
/5-CicloDeVida/com.mycompany.sga_SgaWebHibernateJPA/target/
/6-/com.mycompany.sga_SgaWebHibernateJPA/target/
/3-AplicacionWeb/PersonasWebHibernateJPA/target/
/6-PersistenciaEnCascada/com.mycompany.sga_SgaWebHibernateJPA/target/
